/* Full page centering */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dot_poin{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Clock body */
#clock_body {

  flex-wrap: wrap-reverse;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 4px solid #000;
  position: relative;
  background: white;
}

/* Center dot */
#centerDot {
  width: 15px;
  height: 15px;
  position: absolute;
  background: black;
  border-radius: 50%;
  top: 50%;
  left: 50.6%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Generic hand style */
#secondhands,
#minutsHands,
#hoursHands {
  left: 50%;
  bottom: 50%;
  position: absolute;
  transform-origin: bottom center;
  /* rotate from center bottom */
  transform: translateX(-50%);
  background: black;
}

/* Seconds hand */
#secondhands {
  width: 3px;
  height: 300px;
  background: red;
}

/* Minutes hand */
#minutsHands {
  width: 4px;
  height: 150px;
}

/* Hours hand */
#hoursHands {
  width: 6px;
  height: 120px;
}

/* 
#num{} */

#time_12 {
  left: 258px;
  font-size: 90px;
  position: relative;
}

#time_1 {
  left: 415px;
  bottom: 65px;
  font-size: 60px;
  position: relative;

}



#time_2 {
  left: 508px;
  bottom: 45px;
  font-size: 60px;
  position: relative;

}


#time_3 {
  left: 533px;
  top: 8px;
  font-size: 90px;
  position: relative;
}

#time_4 {
  top: 55px;
  left: 505px;
  font-size: 60px;
  position: relative;
}



#time_5 {
  top: 80px;
  left: 415px;
  font-size: 60px;
  position: relative;
}

#time_6 {
  top: 17px;
  left: 275px;
  font-size: 90px;
  position: relative;
}

#time_7 {
  bottom: 90px;
  left: 155px;
  font-size: 60px;
  position: relative;
}


#time_8 {
  bottom: 250px;
  left: 50px;
  font-size: 60px;
  position: relative;
}


#time_9 {
  left: 15px;
  bottom: 480px;
  font-size: 90px;
  position: relative;
}


#time_10 {
  left: 40px;
  bottom: 690px;
  font-size: 55px;
  position: relative;
}


#time_11 {
  left: 140px;
  bottom: 850px;
  font-size: 55px;
  position: relative;
}


/* @media (max-width: 600px) {
  #clock_body {
    flex-wrap: wrap-reverse;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 4px solid #000;
    position: relative;
    background: rgb(255, 156, 139);
  }
} */