#clock_body {
  justify-content: center;
  align-items: center;
  display: flex;
  justify-self: center;
  align-self: center;
  height: 700px;
  width: 50%;
  border: 2px solid black;
  border-radius: 50%;
}

#Pin_seconds {
  border-radius: 25px;
  transform: rotate(60deg);
  transform-origin: bottom left;
  top: 33.5%;
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: center;
  height: 15%;
  width: 6px;
  background-color: black;
}


#Pin_times {
  border-radius: 25px;
  transform: rotate(10deg);
  transform-origin: bottom left;
  top: 21%;
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: center;
  height: 250px;
  width: 6px;
  background-color: black;
}




#Pin_hours {
  border-radius: 25px;
  transform: rotate(25deg);
  transform-origin: bottom left;
  top: 28.2%;
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: center;
  height: 20%;
  width: 6px;
  background-color: black;
}

#center_dot {
  top: 47%;
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: center;
  height: 3.5%;
  width: 25px;
  background-color: black;
  border-radius: 55%;
}

#center_point{
  
}